/* CSS Document */
body {background-color:#000; color:#FFF; font-family:Arial, Helvetica, sans-serif; text-align:left; margin:0; padding:10px;}
	h1 {font-size:16px; color:#99CC00}
	p {color:#00FF00}
	a img {border:none}
	textarea {width:770px; height:150px; color:red; overflow:hidden; background-color:#000; border:none}
